.container {
    display: flex;
    margin: auto;
    height: 100vh;
    width: 100vw;
}
.square-1 {
    border: .25px solid #444;
    background-color: white;
    display: flex;
    margin: auto;
    height: 71.428571vh;
    width: 71.428571vw;
}
.square-2 {
    background-color: black;
    display: flex;
    margin: auto;
    height: 42.857143vh;
    width: 42.857143vw;
}
.square-3 {
    background-color: white;
    display: flex;
    margin: auto;
    height: 14.285714vh;
    width: 14.285714vw;
}


.container-2 {
    display: flex;
    margin: auto;
    height: 100vh;
    width: 100vw;
}
.square-1-2 {
    border: .25px solid #444;
    background-color: white;
    display: flex;
    margin: auto;
    height: 71.428571vh;
    width: 71.428571vw;
}
.square-2-2 {
    border: .25px solid #999;
    background-color: white;
    display: flex;
    margin: auto;
    height: 42.857143vh;
    width: 42.857143vw;
}
.square-3-2 {
    background-color: black;
    display: flex;
    margin: auto;
    height: 14.285714vh;
    width: 14.285714vw;
}




.square-2-line {
    background-color: white;
    display: flex;
    margin: auto;
    height: 42.857143vh;
    width: 42.857143vw;
}

.line {
    background-color: black;
    display: flex;
    margin: auto;
    height: 42.857143vh;
    width: 1.9vw;
}

.lineleft {
    background-color: black;
    display: flex;
    margin: auto;
    margin-left: 0;
    height: 42.857143vh;
    width: 1.9vw;
}

.lineright {
    background-color: black;
    display: flex;
    margin: auto;
    margin-right: 0;
    height: 42.857143vh;
    width: 1.9vw;
}