.container {
    display: flex;
    margin: auto;
    height: 100vw;
    width: 100vw;
}
.square-1 {
    border: 1px solid black;
    background-color: white;
    display: flex;
    margin: auto;
    height: 71.428571vw;
    width: 71.428571vw;
}
.square-2 {
    background-color: black;
    display: flex;
    margin: auto;
    height: 42.857143vw;
    width: 42.857143vw;
}
.square-3 {
    background-color: white;
    display: flex;
    margin: auto;
    height: 14.285714vw;
    width: 14.285714vw;
}